<html>

<head>
  <title>Homepage</title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <ul>
    <% messages.forEach((message)=> { %>
      <li>
        Username:
        <%= message.username %>
          <br>
          Message:
          <%= message.textinput %>
            <br>
            Added:
            <%= message.added %>
              <br>
              <a href="/details/<%= message.id %>">Open</a>
              <br>
              <br>
      </li>
      <% }); %>
  </ul>
  <a href="/new">New Message Page</a>

</body>

</html>